*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
MyProject2/MyProject2/bin/
MyProject2/bin/
MyProject2/MyProject2/obj/
MyProject2/obj/
MyProject2/Content/obj/
!MyProject2/x64
!MyProject2/x86
!MyProject2/Libraries
